html {
  inline-size: 100%;
  block-size: 100%;
}

body {
  min-inline-size: 100%;
  min-block-size: 100%;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
}

h1 {
  position: relative;
}

h1::before {
  content: " ";
  display: block;
  position: absolute;
  inset: 0 0 0 0;
  z-index: -1;
  background: hsl(200, 100%, 80%);
  transition: transform 0.3s ease;
}

h1::before {
  transform: scaleX(0);
  transform-origin: right;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
