* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.conteiner {
    background: #1a232d;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteiner__button button{
    background: none;
    border: none;
    transform: translateY(150px);
}

#conteiner__nube {
    opacity: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


.conteiner__nube-p {
    color: white;
    width: 310px;
    position: absolute;
    top: 50px;
}



/* iconos svg */


#button-circle.open{
    animation: animation-circle 3s forwards;
}

#conteiner__nube.open {
    animation: animation-nube 3s forwards;
}

#button-circle.open #circle {
    animation: animation-circle-color 3s forwards;
}

#button-circle{
    animation: animation-circle-close 3s forwards;
}

#button-circle #circle {
    animation: animation-circle-color-close 3s forwards;
}







/* ANIMACIONES */
@keyframes animation-circle {
    100%{
        transform: translateY(370px) rotate(45deg);
    }
}

@keyframes animation-nube {
    60%{
        opacity: 0;
        z-index: 1;
    }
    100%{
        z-index: 1;
        opacity: 1;
    }
}
@keyframes animation-circle-color {
    100%{
        fill: red;
    }
}


@keyframes animation-circle-color-close {
    0%{
        fill: red;
    }
    100%{
        fill: #02b89c;
    }
}



@keyframes animation-circle-close {
    0%{
        transform: translateY(370px) rotate(45deg);
    }
    100%{
        transform: translateY(150px) rotate(0);
    }
}




