* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #3e4254;
}

.conteiner {
    border: 1px solid black;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* sidebar */
.sidebar {
    background: white;
    height: 55%;
    width: 170px;
    border-radius: 10px;
    transition: 1s ease;
}

.sidebar-activo{
    width: 60px;
    /* overflow: hidden; */
}

/* sidebar superior */
.sidebar__superior {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 11%;
    border-bottom: 1px solid #4b4a4a;
}

.sidebar__superior button {
    margin-left: 17px;
    border: none;
    background: white;
}

.sidebar__superior button svg {
    overflow: visible;

}



/* sidebar inferrio*/
.sidebar__inferior {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 89%;
}

.sidebar__inferior-grupo {
    display: flex;
    align-items: center;
    justify-content: baseline;
    height: 60px;
    position: relative;
}

.sidebar__inferior-grupo i {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    /* border: 1px solid black; */
    margin-left: 10px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.sidebar__inferior-grupo span {
    position: absolute;
    left: 60px;
    top: 20px;
    transition: 1s ease;
}

/* sidebar inferior grupo activo con letras */

.sidebar__inferior-grupo-activo i {
    transition: transform 1s ease;
    background: var(--clr);
    transform: translateX(10px);
    box-shadow: 0 0 10px var(--clr);
    color: white;
}
.sidebar__inferior-grupo-activo span {
    transition: transform 1s ease;
    color: var(--clr);
    transform: translateX(10px);
}

.sidebar__inferior-grupo-activo-c i {
    transition: transform 1s ease;
    background: var(--clr);
    transform: translateX(20px);
    box-shadow: 0 0 10px var(--clr);
    color: white;
}

/* animaciones */

#cuadro.open #top-line{
    animation: animation-top-line 1s forwards ;
    transform-origin: top left;
}

#cuadro.open #bottom-line{
    animation: animation-bottom-line 1s forwards ;
    transform-origin: bottom left;
}

#cuadro.open #middle-line{
    animation: animation-middle-line 1s forwards ;
    transform-origin: center;
}

#cuadro #top-line{
    animation: animation-top-line-close 1s forwards ;
    transform-origin: top left;
}

#cuadro #bottom-line{
    animation: animation-bottom-line-close 1s forwards ;
    transform-origin: bottom left;
}

#cuadro #middle-line{
    animation: animation-middle-line-close 1s forwards ;
    transform-origin: center;
}


@keyframes animation-top-line {
    50%,100%{
        transform: translate(5px, 0px) rotate(45deg);

    }

}

@keyframes animation-bottom-line {
    50%,100%{
        transform: translate(5px, -1px) rotate(-45deg);
    }
}


@keyframes animation-middle-line {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(0.5);
    }
    100% {
        transform: scaleX(0);
    }
}


@keyframes animation-top-line-close {
    0%{
        transform: translate(5px, 0px) rotate(45deg);
    }

    100%{
        transform: translate(0, 0) rotate(-0deg);
    }

}

@keyframes animation-bottom-line-close {
    0%{
        transform: translate(5px, -1px) rotate(-45deg);
    }

    100%{
        transform: translate(0, 0) rotate(0deg);
    }

}


@keyframes animation-middle-line-close {
    0% {
        transform: scaleX(0);
    }
    50% {
        transform: scaleX(0.5);
    }
    100% {
        transform: scaleX(1);
    }
}