* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(224, 148, 153);
}

.conteiner-calculadora {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculadora {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 320px;
    border-radius: 10px;
}

.c-negro {
    background: rgb(28, 26, 28);
    transition: 0.5s ease;
}

.c-blanco {
    background: white;
    transition: 0.5s ease;
}

#input{
    width: 100%;
    height: 40px;
    border: none;
    margin-top: 45px;
    pointer-events: none;
    direction: rtl;
    padding-right: 44px;
    font-size: 30px;
    font-weight: bold;
}

.input-negro {
    background: rgb(28, 26, 28);
    color: white;
    transition: 0.5s ease;
}

.input-blanco {
    background: white;
    color: black;
    transition: 0.5s ease;
}


.calculadora-button {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    margin-top: auto;
    align-self: center;
    margin-bottom: 10px;
}

.calculadora-button button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px;
    border: none;
    background: rgb(133, 237, 164);
    font-size: 16px;
    font-weight: bold;
}

.calculadora-button button:hover {
    transform: scale(1.1);
}


#igual {
    grid-row: 2 span;
    height: 110px;
    border-radius: 30px;
    color: white;
    background: rgb( 213, 62, 1);
}

#reset {
    background: rgb( 77, 62, 178);
    color: white;
}

#dividir, #por, #menor, #mas, #menos, #punto, #cero2{
    color: rgb(172, 127, 83);
    background: rgb(243, 213, 75);
}

.cambio {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 50px;
}

#cambio {
    margin-right: 25px;
    margin-top: 10px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
}

#cambio:hover {
    transform: scale(1.2);
}

.cambio-negro {
    background: black;
    transition: 0.5s ease;
}

.cambio-blanco {
    background: white;
    transition: 0.5s ease;
}

