* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
}

button {
  width: 7rem;
  height: 4rem;
  position: absolute;
  bottom: 50%;
  left: calc(50% - 50px);
  background: #444444;
  border: none;
  border-top: 2px solid yellow;
  border-radius: 0 0 5px 5px;
  color: white;
  font-size: 16px;
  animation: boton 2s linear infinite;
}

@keyframes boton {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
