* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.conteiner {
    background: #bdbad5;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal {
    height: 400px;
    width: 320px;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(63, 61, 61, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagenes {
    /* border: 1px solid black; */
    transform: translateX(280px);
    transform-origin: center;
    transition: all 0.5s;
}

.imagenes:hover {
    transform-origin: center;
    transform: translateX(280px) rotate(15deg);
}

.principal__secundario {
    width: 100px;
    height: 100px;
    background: transparent;
    box-shadow: 0 0 5px rgba(63, 61, 61, 0.5);
    margin-bottom: 10px;
    border-radius: 10px;
    transform: translateX(-50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenes .zapato-principal{
    width: 200px;
    /* border: 1px  solid black; */
    /* transform: translateX(280px); */
}

.principal__secundario img{
    width: 90px;
    transition: all 0.5s;
}

.principal__secundario img:hover{
    transform: rotate(15deg);
}
